$color: #b1b1b1;
$fuente: "Roboto", sans-serif;
$altura: 100vh;

@media all and (min-width: 420px) {
  #productos {
    img {
      height: 600px !important;
      width: 700px !important;
    }
  }
  #nosotros {
    .centrado {
      width: 25%;
      margin: 0 auto;
      padding-top: 7px;
      font-size: 25px;
    }
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $fuente;
}

.navbar-brand:hover {
  color: grey !important;
}
#home {
  padding-bottom: 5px;
}
.mayus {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.titulosecundario {
  color: white;
  font-weight: 300;
  font-size: 38px;
  padding-top: 100px;
  text-align: center;
}
#header {
  padding-top: 170px !important;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("https://img.huffingtonpost.com/asset/5c8a8590360000a61b6b9326.jpeg?ops=scalefit_630_noupscale");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: $altura;
  text-align: center;
}
#nosotros {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("https://www.profedeele.es/wp-content/uploads/2014/10/Frutos-Secos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: $altura;
  p {
    text-align: center;
  }
}
.centrado {
  text-align: center;
  width: 100% !important;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}
section {
  p {
    font-family: $fuente;
    color: $color;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
  }
  h1 {
    display: flex;
    justify-content: center;
    font-family: $fuente;
    padding-top: 5px;
  }
}
#productos {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("https://img.huffingtonpost.com/asset/5c8b345a2000004504706492.jpeg?ops=scalefit_630_noupscale");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
#contacto {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("https://image.freepik.com/foto-gratis/arreglo-alimenticio-frutos-secos-nueces_23-2148258698.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 50vh;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}
#contacto {
  img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
  }
}
strong {
  font-weight: 700;
  font-size: 25px;
  font-family: $fuente;
}
.socialmedia {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  a {
    color: orange;
  }
  a:hover {
    color: lightblue;
  }
}
#logo {
  height: 67px;
  width: 130px;
}
